

footer{
    padding: {
        top:10px;
        bottom: 10px;
    };
    background-color: $head_footColor;
    @extend %flex_display;
    justify-content:center;


    .footer_text{
        font-style: 5px;
        color: $top_textColor;
        text-align: center;
        .copy{
            padding-top: 10px;
        }
    }
}

/*topに戻る*/
#pagetop {
    position: fixed;
    bottom: 50px;
    right: 30px;
}