*{
    padding: 0;
    margin: 0;
}

%flex_display{
    display: flex;
    align-items: center;
}
$top_textColor:white;
$head_footColor:#004fa8;



header{
    height: 100px;
    background-color: $head_footColor;
    @extend %flex_display;
    justify-content:space-between;

    .site_title{
        text-align: center;

        >h1{
            font-family: 'Hachi Maru Pop', cursive;
            font-size: 40px;
            color: $top_textColor;
            font-weight: bold;
        }
    }
    .header_right{
        
        #nav-toggle{
            color:wheat;
            z-index:1000;
            position: fixed;
            top: 30px;
            right: 25px;
            height:32px;
            cursor:pointer;

            .btn-trigger {
                position: relative;
                width: 50px;
                height: 44px;
                cursor: pointer;

                span {
                    position: absolute;
                    left: 0;
                    width: 100%;
                    height: 4px;
                    background-color: #fff;
                    border-radius: 4px;
                    }
                }

            .btn-trigger, .btn-trigger span {
                display: inline-block;
                transition: all .5s;
                box-sizing: border-box;
            }
            
            .btn-trigger span:nth-of-type(1) {
                top: 0;
                }
                .btn-trigger span:nth-of-type(2) {
                top: 20px;
                }
                .btn-trigger span:nth-of-type(3) {
                bottom: 0;
                }
            
            #nav-toggle .hamberger{
                position: relative;
                width: 50px;
            }
            /* :checked */
            #hamburger-nav.active {
                -webkit-transform: rotate(360deg);
                transform: rotate(360deg);
                }
                #hamburger-nav.active span:nth-of-type(1) {
                -webkit-transform: translateY(20px) rotate(-45deg);
                transform: translateY(20px) rotate(-45deg);
                }
                #hamburger-nav.active span:nth-of-type(2) {
                -webkit-transform: translateY(0) rotate(45deg);
                transform: translateY(0) rotate(45deg);
                }
                #hamburger-nav.active span:nth-of-type(3) {
                opacity: 0;
                }            
            }
        }
    }

#gloval-nav {
    background-color: #afd0ef;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 990;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 60px;
    padding-left: 100px;
    transform: translateX(100%);
    transition:  transform 1s cubic-bezier(0.215, 0.61, 0.355, 1);
    a {
        text-decoration:none; 
        color: black;
        :hover{
            text-decoration: underline;
        }
    }

}
.open #gloval-nav {
    transform: translateX(0);
}


