*{
    padding: 0;
    margin: 0;
}

%flex_display{
    display: flex;
    justify-content: center;
    align-items: center;
}
$top_textColor:white;
$head_footColor:#004fa8;

header{
    height: 100px;
    background-color: $head_footColor;
    @extend %flex_display;

    .site_title{
        text-align: center;

        >h1{
            font-family: 'Hachi Maru Pop', cursive;
            font-size: 40px;
            color: $top_textColor;
            font-weight: bold;
        }
    }
}


