@import "header";
.top-view{
    .top-viewImg{
        height:70vh;
        width: 100vw;
        background-image: url("/assets/img/chitan_top.jpeg");
        background-size: cover;
    }
}

.my-orange {
    color: #fecb81;
}


@import "footer";