@charset "UTF-8";
* {
  padding: 0;
  margin: 0;
}

header, footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header {
  height: 100px;
  background-color: #004fa8;
}

header .site_title {
  text-align: center;
}

header .site_title > h1 {
  font-family: 'Hachi Maru Pop', cursive;
  font-size: 40px;
  color: white;
  font-weight: bold;
}

.chitan_biography {
  padding: 50px;
  background-color: #f8e352;
}

.chitan_biography > h1 {
  font-size: 40px;
  text-align: center;
  font-family: 'Hachi Maru Pop', cursive;
}

.chitan_biography > h1 .bio {
  font-size: 10px;
  margin: 0;
}

.chitan_biography > h1 .profile {
  margin: 0;
}

.chitan_biography > .profile_contents {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding-top: 80px;
}

.chitan_biography > .profile_contents h2 {
  font-family: 'Hachi Maru Pop', cursive;
  font-size: 40px;
  font-weight: bold;
}

.chitan_biography > .profile_contents > img {
  height: 350px;
}

.chitan_contents {
  background-color: #f9ebd1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: 'Hachi Maru Pop', cursive;
  padding: 50px;
}

.chitan_contents > h1 {
  font-size: 35px;
  padding-bottom: 30px;
}

.chitan_contents .chitan_box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.chitan_contents .chitan_box .chitan_image {
  margin: 40px;
}

.chitan_contents .chitan_box .chitan_image > img {
  height: 250px;
}

.chitan_contents .chitan_box .chitan_image > p {
  text-align: center;
}

.chitan_contents .chitan_box .chitan_image .chitan_bus {
  height: 150px;
}

.top-view .top-viewImg {
  height: 70vh;
  width: 100vw;
  background-image: url("/assets/img/chitan_top.jpeg");
  background-size: cover;
}

/*top-view*/
.top-view .top-viewImg {
  height: 70vh;
  width: 100vw;
  background-image: url("/assets/img/chitan_top.jpeg");
  background-size: cover;
}

.my-orange {
  color: #fcc36d;
}

footer {
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #004fa8;
}

footer .footer_text {
  font-style: 5px;
  color: white;
  text-align: center;
}

footer .footer_text .copy {
  padding-top: 10px;
}

/*topに戻る*/
#pagetop {
  position: fixed;
  bottom: 50px;
  right: 30px;
}
/*# sourceMappingURL=main.css.map */