@charset "UTF-8";
* {
  padding: 0;
  margin: 0;
}

header, footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header {
  height: 100px;
  background-color: #004fa8;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

header .site_title {
  text-align: center;
}

header .site_title > h1 {
  font-family: 'Hachi Maru Pop', cursive;
  font-size: 40px;
  color: white;
  font-weight: bold;
}

header .header_right #nav-toggle {
  color: wheat;
  z-index: 1000;
  position: fixed;
  top: 30px;
  right: 25px;
  height: 32px;
  cursor: pointer;
  /* :checked */
}

header .header_right #nav-toggle .btn-trigger {
  position: relative;
  width: 50px;
  height: 44px;
  cursor: pointer;
}

header .header_right #nav-toggle .btn-trigger span {
  position: absolute;
  left: 0;
  width: 100%;
  height: 4px;
  background-color: #fff;
  border-radius: 4px;
}

header .header_right #nav-toggle .btn-trigger, header .header_right #nav-toggle .btn-trigger span {
  display: inline-block;
  -webkit-transition: all .5s;
  transition: all .5s;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

header .header_right #nav-toggle .btn-trigger span:nth-of-type(1) {
  top: 0;
}

header .header_right #nav-toggle .btn-trigger span:nth-of-type(2) {
  top: 20px;
}

header .header_right #nav-toggle .btn-trigger span:nth-of-type(3) {
  bottom: 0;
}

header .header_right #nav-toggle #nav-toggle .hamberger {
  position: relative;
  width: 50px;
}

header .header_right #nav-toggle #hamburger-nav.active {
  -webkit-transform: rotate(360deg);
  transform: rotate(360deg);
}

header .header_right #nav-toggle #hamburger-nav.active span:nth-of-type(1) {
  -webkit-transform: translateY(20px) rotate(-45deg);
  transform: translateY(20px) rotate(-45deg);
}

header .header_right #nav-toggle #hamburger-nav.active span:nth-of-type(2) {
  -webkit-transform: translateY(0) rotate(45deg);
  transform: translateY(0) rotate(45deg);
}

header .header_right #nav-toggle #hamburger-nav.active span:nth-of-type(3) {
  opacity: 0;
}

#gloval-nav {
  background-color: #afd0ef;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 990;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 60px;
  padding-left: 100px;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  -webkit-transition: -webkit-transform 1s cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: -webkit-transform 1s cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: transform 1s cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: transform 1s cubic-bezier(0.215, 0.61, 0.355, 1), -webkit-transform 1s cubic-bezier(0.215, 0.61, 0.355, 1);
}

#gloval-nav a {
  text-decoration: none;
  color: black;
}

#gloval-nav a :hover {
  text-decoration: underline;
}

.open #gloval-nav {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.chitan_biography {
  padding: 50px;
  background-color: #f8e352;
  background-image: url(../img/reaction31.png);
  background-size: 620px;
}

.chitan_biography > h1 {
  font-size: 40px;
  text-align: center;
  font-family: 'Hachi Maru Pop', cursive;
}

.chitan_biography > h1 .bio {
  font-size: 10px;
  margin: 0;
  font-weight: 800;
}

.chitan_biography > h1 .profile {
  margin: 0;
  font-weight: 800;
}

.chitan_biography > .profile_contents {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding-top: 80px;
}

.chitan_biography > .profile_contents h2 {
  font-family: 'Hachi Maru Pop', cursive;
  font-size: 40px;
  font-weight: bold;
}

.chitan_biography > .profile_contents > img {
  height: 350px;
}

.chitan_contents {
  background-color: #afd0ef;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: 'Hachi Maru Pop', cursive;
  padding: 50px;
}

.chitan_contents > h1 {
  font-size: 35px;
  padding-bottom: 30px;
  text-shadow: 2px 2px 1px #fff;
}

.chitan_contents .chitan_box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.chitan_contents .chitan_box .chitan_image {
  margin: 60px;
}

.chitan_contents .chitan_box .chitan_image:hover {
  -webkit-transform: rotateZ(360deg);
          transform: rotateZ(360deg);
  -webkit-transition: 2s;
  transition: 2s;
}

.chitan_contents .chitan_box .chitan_image > img {
  height: 200px;
}

.chitan_contents .chitan_box .chitan_image > p {
  text-align: center;
}

.chitan_contents .chitan_box .chitan_image .chitan_bus {
  height: 150px;
}

/*top-view*/
.top-view {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.top-view .top-viewImg {
  height: 70vh;
  width: 100%;
  background-image: url("/assets/img/chitan_top.jpeg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.my-orange {
  color: #fcc36d;
}

footer {
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #004fa8;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

footer .footer_text {
  font-style: 5px;
  color: white;
  text-align: center;
}

footer .footer_text .copy {
  padding-top: 10px;
}

/*topに戻る*/
#pagetop {
  position: fixed;
  bottom: 50px;
  right: 30px;
}
/*# sourceMappingURL=main.css.map */